<section>
  <div class="page-header">
    <h1>Analisis de Tweets</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.tweetForm" class="form-horizontal" 
    		ng-submit="vm.start_analisis(vm.form.tweetForm.$valid)" novalidate>
      <fieldset>
        
        <div id="map"></div>

        <div class="form-group" show-errors>
          <label class="control-label" for="loc">Localidad</label>
          <input name="loc" type="text" ng-model="vm.tweet.name" id="loc" class="form-control" placeholder="Localidad" required>
          <div ng-messages="vm.form.tweetForm.loc.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Localidad es requerida.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="loc">Token Twitter</label>
          <input name="token_twiter" type="text" ng-model="vm.tweet.token_twiter" id="token_twiter" class="form-control" placeholder="Token" required>
          <div ng-messages="vm.form.tweetForm.token_twiter.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Token es requerido.</p>
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default">Iniciar Analisis</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>

</section>


